.basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.tempmain {
    font-size: 40px;
    font-weight: bold;
}

.minmax {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
}